/*!
    * CSS3 Style for a navigation bar
*/

.container a {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 0.688em;
    color: #FFFFFF;
    font-weight: bold;
    text-decoration:none;
    text-align:center;
}

    /* Firefox Dotted Outline Fix */
.container a:active {
    outline: none;
}

    /* Firefox Dotted Outline Fix */
.container a:focus {
    -moz-outline-style: none;
}

#nav-main{
    height:1.813em;
    float:left;
    background-repeat:repeat-x;
    background-position:top left;
    width:100%;
    margin-top: 0.833em;
    margin-bottom: 0.833em;
}
