/*!
    * CSS3 Stylesheet for ics ui properties
*/

.rgbimg-background {

    -webkit-border-radius: 0.625em;
    -moz-border-radius: 0.625em;
    border-radius: 0.625em;
    -webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.1);
    -moz-box-shadow: inset 0 0 5px rgba(0,0,0,0.1);
    box-shadow: inset 0 0 5px rgba(0,0,0,0.1);
    background: white;
    border: 1px solid #C7C7C7;
    margin-bottom: 0.625em;
    padding: 0.625em;
    width: auto;
}

.sortableImg {
    display: block;
}

.sortableImg img {
   max width: 64px;
}

.sortableImgList ul {
    list-style-type: none;
    width: 100%;
    margin: 0;
    padding: 0;
    float: left;
}

.sortableImgList li {
    display: inline-block;
    padding: 0.625em;
    text-align: center;
}
