{% extends "generic.html" %}
{% block title %}Log in{% endblock %}
{% block content-main %}

<div class="alert alert-info" id="notice"><strong>Note: </strong>Please login first</div>
<h1>Log in</h1>

{% if form.errors %}
<p class="error">Please correct the errors below:</p>
{% endif %}

<form method="post" action="?next={{ next|default:"/" }}">{% csrf_token %}
<dl>
<dt><label for="id_username">Username:</label>{% if form.username.errors %} <span class="error">{{ form.username.errors|join:", " }}</span>{% endif %}</dt>
<dd>{{ form.username }}</dd>
<dt><label for="id_password">Password:</label>{% if form.password.errors %} <span class="error">{{ form.password.errors|join:", " }}</span>{% endif %}</dt>
<dd>{{ form.password }}</dd>
<dt><input type="submit" value="Log in" /></dt>
<dd><a href="{% url auth_password_reset %}">Forgot Password?</a></dd>
</dl>
</form>

{% block content-related %}
<p>If you don't have an account, you can <a href="{% url registration_register %}">sign
up</a> for one.
{% endblock %}

{% endblock %}
