/*!
    * Responsive CSS3 Style Sheet
*/

/*
    Basic Structure
*/

.header {
    height: 180px;
}

.content {
    width: 600px;
    float: left;
}

.sidebar {
    width: 300px;
    float: right;
}

#footer {
    clear: both;
}

/*
    Media Queries 
*/

/* for 980px or less */
@media screen and (max-width: 980px) {

    #pagewrap {
        width: 94%;
    }

    #content {
        width: 65%;
    }

    #sidebar {
        width: 30%;
    }
}

/* for 700px or less */
@media screen and (max-width: 700px) {

    #content {
        width: auto;
        float: none;
    }

    #sidebar {
        width: auto;
        float: none;
    }
}

/* for 480px or less */
@media screen and (max-width: 480px) {

    #header {
        height: auto;
    }

    h1 {
        font-size: 24px;
    }

    #sidebar {
        display: none;
    }
}
