{% block app-controls %}
<h5>App Controls</h5>
<div class="rgbimg-background">
 <div class="progress">
 <div class="bar" style="width: 0%">Progress 0%</div></div>
 <div class="text-left">
  <button type="button" id="start" class="btn" data-loading-text="Loading...">Start</button>
  <button type="button" id="Stop" class="btn" data-loading-text="Stopping...">Stop</button>
  <button type="button" id="batch" class="btn" data-toggle="button">Switch to Batch Mode</button>
 </div>
</div>
{% endblock %}
