{% extends "generic.html" %}
{% block stylesheet %}{{ block.super }}{% endblock stylesheet %}
{% block script %}{{ block.super}}<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/style-ics.css">{% endblock script %}
{% block content-main %}
<h5>Image Correlation Spectroscopy Batch Mode</h5>
{% if form.errors %}
<div class="alert alert-error">
{{ form.imageSize.errors }}
{{ form.redImg.errors }}
{{ form.firstImageIndex.errors }}
{{ form.lastImageIndex.errors }}
{{ form.filenameFormat.errors }}
{{ form.rangeAutoCross.errors }}
{{ form.ginfAutoCross.errors }}
{{ form.wAutoCross.errors }}
{{ form.gzeroAutoCross.errors }}
{{ form.rangeTriple.errors }}
{{ form.ginfTriple.errors }}
{{ form.wTriple.errors }}
{{ form.gzeroTriple.errors }}
{{ form.resolution.errors }}
{{ form.zip_file.errors }}
</div>
{% endif %} 
<form name="batchform" {% if form.is_multipart %}enctype="multipart/form-data"{% endif %} method="post">{% csrf_token %}
  <div class="row-fluid">
    <div class="span4">
     <fieldset>
     <legend>Batch Settings</legend>
     <div class="control-group {% if form.imageSize.errors %}error{% endif %}"><label for="{{form.imageSize.auto_id}}">Batch Image Size:</label>{{ form.imageSize }}</div>
     <div class="control-group {% if form.firstImageIndex.errors %}error{% endif %}"><label for="{{form.firstImageIndex.auto_id}}">Start At Image #:</label>{{ form.firstImageIndex}}</div>
     <div class="control-group {% if form.lastImageIndex.errors %}error{% endif %}"><label for="{{form.lastImageIndex.auto_id}}">Stop At Image #:</label>{{ form.lastImageIndex }}</div>
     <div class="control-group {% if form.filenameFormat.errors %}error{% endif %}"><label for="{{form.filenameFormat.auto_id}}">File Name Format:</label>{{ form.filenameFormat }}</div>
     </fieldset>
     <fieldset>
     {{ form.considerDeltaForAuto }}Consider Deltas In Auto<br>
     {{ form.considerDeltaForCross }}Consider Deltas In Cross<br>
     </fieldset><br>
    </div> <!-- span4 -->
    <div class="span4">
     <fieldset>
      <legend>Auto/Cross Parameters</legend>
      <div class="control-group {% if form.rangeAutoCross.errors %}error{% endif %}"><label for="{{form.rangeAutoCross.auto_id}}">Range</label>{{ form.rangeAutoCross }}</div>
      <div class="control-group {% if form.ginfAutoCross.errors %}error{% endif %}"><label for="{{form.ginfAutoCross.auto_id}}">gInf</label>{{ form.ginfAutoCross }}</div>
      <div class="control-group {% if form.wAutoCross.errors %}error{% endif %}"><label for="{{form.wAutoCross.auto_id}}">w</label>{{ form.wAutoCross }}</div>
      <div class="control-group {% if form.gzeroAutoCross.errors %}error{% endif %}"><label for="{{form.gzeroAutoCross.auto_id}}">g(0)</label>{{ form.gzeroAutoCross }}</div>
     </fieldset>
    </div> <!-- span5 -->
    <div class="span4">
      <fieldset>
      <legend>Triple Correlation Parameters</legend>
      <div class="control-group {% if form.rangeTriple.errors %}error{% endif %}"><label for="{{form.rangeTriple.auto_id}}">Range</label>{{ form.rangeTriple }}</div>
      <div class="control-group {% if form.ginfTriple.errors %}error{% endif %}"><label for="{{form.ginfTriple.auto_id}}">gInf</label>{{ form.ginfTriple }}</div>
      <div class="control-group {% if form.wTriple.errors %}error{% endif %}"><label for="{{form.wTriple.auto_id}}">w</label>{{ form.wTriple }}</div>
      <div class="control-group {% if form.gzeroTriple.errors %}error{% endif %}"><label for="{{form.gzeroTriple.auto_id}}">g(0)</label>{{ form.gzeroTriple }}</div>
      </fieldset>
     <div id="imgSize">
     <label for="id_resolutions">Set Image resolution to sample</label>
      {{ form.resolutions }}
     </div>
    </div> <!-- span4 -->
    {{ form.zip_file }}
   </div> <!-- row -->
<div class="rgbimg-background">
 <div id="batchcontrols">
  <div class="alert alert-info" id="userNotice"><strong>Note: </strong>When ready click <strong>Next</strong> to Proceed to Batch File Upload</div>
  <input type="submit" id="batchStart" class="btn" value="Next">
  <button type="button" id="batchCancel" class="btn" data-toggle="button" onclick="window.location='../rgb_upload'">Swtich to Single Mode</button>
 </div>
</div>
</form>
{% endblock content-main %}
