{% extends "base.html" %}

{% block stylesheet %}{{ block.super }}
{# Add additional stylesheets here #}
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/navbar.css">
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/style-generic.css">
{% endblock %}

{% block script %}
{# Menu Animation Script #}
    <script type="text/javascript" src="{{ STATIC_URL }}js/navbar.js"></script>
{{ block.super }}{% endblock %}
{% block nav-main %}{% include "navbar.html" %}{% endblock nav-main %}
{% block content %}<div id="content-body">{% block content-body %}<div class="content-main">{% block content-main %}{% endblock content-main %}</div>{% endblock content-body%}</div>{% endblock content %}
{% block footer %}
{# Generic footer includes uses University Of Aliberta Website Copyright parm=copyrightdate #}
<div id="copyright">{% block copyright %}
&copy {{ coyrightdate }}<a href="http://www.ualberta.ca/">University of Alberta</a> 116 St. and 85 Ave., Edmonton, AB, Canada T6G 2R3</div>
{% endblock %}
{% endblock %}
