{% extends "base.html" %}

{% block stylesheet %}
{# Add additional stylesheets here #}
{% endblock %}

{% block header %}<div id="header-main" class="header-main">{%block header-main %}{% endblock%}</div>{% endblock %}
{% block nav-main %}{% endblock %}
{% block content %}<div id="content-body">{% block content-body %}{% endblock%}</div>{% endblock %}

{% block footer %}
{# Generic footer includes uses University Of Aliberta Website Copyright parm=copyrightdate #}
<div id="copyright">{% block copyright %}
&copy {{ coyrightdate }}<a href="http://www.ualberta.ca/">University of Alberta</a> 116 St. and 85 Ave., Edmonton, AB, Canada T6G 2R3
</div>{% endblock %}
{% endblock %}


