{% extends "generic.html" %}
{% block stylesheet %}{{ block.super }}{% endblock stylesheet %}
{% block script %}{{ block.super}}{% endblock script %}
{% block content-main %}
<h1>Welcome to the homepage</h1>
{% if not user.is_active %}
<p>To use the services please <a href="{% url auth_login %}">Login</a>.</p>
{% endif %}
<p>Download the  desktop application below</p>
<h3>Latest Beta</h3>
<a href="{{ STATIC_URL }}ics-win32-x86-setup-beta2.1.zip">Download Beta 2.1 -ics-win32-x86-setup-beta2.1.zip 37.0 MB</a>
<h3>Previous Versions</h3>
<a href="{{ STATIC_URL }}ics-win32-x86-setup-beta2.zip">Download Beta 2.0 -ics-win32-x86-setup-beta2.zip 37.2 MB</a><br>
<a href="{{ STATIC_URL }}ics-win32-x86-setup-beta1.exe">Download Beta 1 - ics-win32-x86-setup-beta1.exe - 32.0 MB</a>
{% endblock content-main %}
