{% block img-attributes %}
<div class="rgbimg-background">
 <div id="imgSize">
 <form id="imgResolution">
   <label for="resolutions">Set Image resolution to sample</label>
   <select name="resolutions" id="resolutions">
     <option>16x16</option>
     <option>24x24</option>
     <option>32x32</option>
     <option>48x48</option>
     <option>64x64</option>
   </select>
 </form>
 </div>
 <div id="imgIntensity"><p>Average Intensity Per Pixel</p></div>
<div class="row-fluid">
<div><p>G</p></div>
<div><p>R</p></div>
<div><p>B</p></div>
</div>
{% endblock img-attributes %}
