{% block nav-main %}
<div class="navbar">
  <div class="navbar-inner">
    <div class="container">
      <!-- .btn-navbar is used as the toggle for collapsed navbar content -->
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
 
      <!-- Be sure to leave the brand out there if you want it shown -->
      <a class="brand">ICS</a>
      <ul class="nav">
       <li><a href="{% url home %}">Home</a></li>
       <li><a href="{% url rgb_upload %}">Single Mode</a></li>
       <li><a href="{% url batchmode %}">Batch Mode</a></li>
       <li><a href="{% url help %}">Documentation</a></li>
       </ul>
       <ul class="nav-collapse collapse nav pull-right">
        {% if user.is_active %}
          {% if user.is_staff %}
          <li><a href="/admin/">Admin</a></li> 
          {% endif %}
         <li><a>You are logged in as: {{ user.username }}</a></li>
         <li><a href="{% url auth_logout %}">Logout</a></li>
        {% else %}
         <li><a href="{% url auth_login %}">Register / Login</a></li>
        {% endif %}
      </ul>
      <!-- Everything you want hidden at 940px or less, place within here -->
      <div class="nav-collapse collapse">
        <!-- .nav, .navbar-search, .navbar-form, etc -->
      </div>
    </div>
  </div>
</div>
{% endblock %}
