{% block rgb-controls %}
<h5>Correlation Settings</h5>
 <div class="alert alert-info" id="userNotice"><strong>Note: </strong>Please Select the Type of Correlation(s) to Run</div>
 {{ form.userSelected.as_hidden }} 
  <ul class="nav nav-tabs">
   <li><a href="#auto" id="id_auto" data-toggle="tab">Auto-Correlation</a></li>
   <li><a href="#cross" id="id_cross" data-toggle="tab">Cross-Correlation</a></li>
   <li><a href="#triplecross" id="id_triplecross" data-toggle="tab">Triple-Correlation</a></li>
   <li><a href="#all" id="id_all" data-toggle="tab">All</a></li>
 </ul>
{% endblock %}

{% block tab-content %}
<div class="tab-content">
 <div class="tab-pane" id="auto">
  <div class="row-fluid">
   <div class="span4">
    <fieldset>
     <legend>Channels:</legend><br>
     <label>Red</label>{{ form.red }}
     <label>Blue</label>{{ form.blue }}
     <label>Green</label>{{ form.green }}
     </fieldset>
    </div> <!-- span4 -->
    <div class="span4">
     <fieldset>
     <legend>Paramters:</legend>
     <label>Range:</label>{{ form.rangeAuto }}
     <label> g(0):</label>{{ form.gzeroAuto}}
     <label>    w:</label>{{ form.wAuto }}
     <label> ginf:</label>{{ form.ginfAuto }}
     {{ form.deltaAuto }}Consider Deltas
     </fieldset>
    </div> <!-- span4 -->
   </div> <!-- row -->
  </div> <!-- auto -->

 <div class="tab-pane" id="cross">
  <div class="row-fluid">
   <div class="span4">
    <fieldset>
     <legend>Channels:</legend><br>
     {{ form.redgreen }}<label>Red-Green</label>
     {{ form.redblue }}<label>Red-Blue</label>
     {{ form.greenblue }}<label>Green-Blue</label>
     </fieldset>
    </div> <!-- span4 -->
    <div class="span4">
     <fieldset>
     <legend>Paramters:</legend>
     <label>Range:</label>{{ form.rangeCross }}
     <label> g(0):</label>{{ form.gzeroCross}}
     <label>    w:</label>{{ form.wCross }}
     <label> ginf:</label>{{ form.ginfCross }}
     {{ form.deltaCross }}Consider Deltas
     </fieldset>
    </div> <!-- span4 -->
    </div> <!-- row -->
   </div> <!-- cross -->

 <div class="tab-pane" id="triplecross">
  <div class="row-fluid">
    <div>
    <p>Triple-correlation parameters are inputted sequentially. After loading images(s) into the program, press the START button to begin</p>
   </div> <!-- span4 -->
   </div> <!-- row -->
  </div> <!-- triple -->

 <div class="tab-pane" id="all">
  <div class="row-fluid">
    <div class="span4"></div>
    <div class="span4">
     <fieldset>
     <legend>Paramters:</legend>
     <label>Range:</label>{{ form.rangeTripleAll }}
     <label> g(0):</label>{{ form.gzeroTripleAll}}
     <label>    w:</label>{{ form.wTripleAll }}
     <label> ginf:</label>{{ form.ginfTripleAll }}
     {{ form.deltaAll }}Consider Deltas
     </fieldset>
    </div> <!-- span4 -->
    </div> <!-- row -->
   </div> <!-- all -->

 </div> <!-- tab -->
{% endblock %}
