{% extends "generic.html" %}
{% block script %}{{ block.super}}<script type="text/javascript" src="{{ STATIC_URL }}js/ics_scripts/ics.js"></script>{% endblock script %}
{% block content-main %}
{% block rgbimg-settings  %}
<h3>Image Upload</h3>
<div class="rgbimg-background">
<div class="alert alert-info" id="userNotice"><strong>Note: </strong>Choose either to upload a single RGB image file or three files for each image channel</div>
{% if form.errors %}
<div class="alert alert-error">
{{ form.redImg.errors }}
{{ form.greenImg.errors }}
{{ form.blueImg.errors }}
{{ form.mixedImg.errors }}
</div>
{% endif %}
 <ul class="nav nav-tabs">
   <li><a href="#singleRGB" data-toggle="tab" id="id_singleRGB">Single RGB Image</a></li>
   <li><a href="#threeRGB" data-toggle="tab" id="id_threeRGB">Three Channel Images</a></li>
 </ul>
 <div class="tab-content">
   <div class="tab-pane" id="singleRGB"><p>Single Channel<p>
      <a href="#singleUploadModal" role="button" class="btn" data-toggle="modal">Upload a Single RGB Image</a>
   </div>
   <div class="tab-pane" id="threeRGB"><p>Three Channel RGB Image</p>
      <a href="#multiuploadModal" role="button" class="btn" data-toggle="modal">Upload Three Channels</a>
 </div>
</div>

<!-- Modal -->
<div id="singleUploadModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="singleUploadModal">Select an Image to Upload</h3>
    <small>(.bmp .png .tif, tiff, gif)</small>
  </div>
  <div class="modal-body">
    <form method="post" {% if form.is_multipart %}enctype="multipart/form-data"{% endif %}>{% csrf_token %}
     <div class="control-group"><label class="control-label">{{ form.mixedImg }}</label></div>
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
    <input class="btn btn-primary" type="submit" value="Upload"/>
  </div>
</div>

<!-- Modal -->
<div id="multiuploadModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="threeUploadMoal">Select three Images to Upload</h3>
    <small>(.bmp .png .tif)</small>
  </div>
  <div class="modal-body">
    <div class="control-group"><label class="control-label">Red</label>{{ form.redImg }}</div>
    <div class="control-group"><label class="control-label">Green</label>{{ form.greenImg }}</div>
    <div class="control-group"><label class="control-label">Blue</label>{{ form.blueImg }}</div>
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
    <input class="btn btn-primary" type="submit" value="Upload"/>
    {{ form.uploadType.as_hidden}}
  </form>
  </div>
</div>
{% endblock %}
{% endblock content-main %}
