{% extends "generic.html" %}
{% block stylesheet %}
{{ block.super }}
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/style-ics.css">
{% endblock stylesheet %}
{% block script %}
    <script type="text/javascript" src="{{ STATIC_URL }}js/ics_scripts/ics.js"></script>
{{ block.super }}
{% endblock %}
{% block content-main %}
<div class="rgbimg-background"><img src={{ graph_path }}/></div>
  <form id="settings-form" method="post">{% csrf_token %}
 <div class="rgbimg-background">
{% if form.errors %}
<div class="alert alert-error">
{{ form.rangeTriple.errors }}
{{ form.ginfTriple.errors }}
{{ form.wTriple.errors }}
{{ form.gzeroTriple.errors }}
</div>
{% endif %} 

  <div class="row-fluid">
     <p>Input Parameters for Auto and Cross Correlations Below:</p>
     <div class="span4">
      <fieldset>
      <legend>Parameters:</legend>
      <div class="control-group{% if form.rangeTriple.errors %}error{% endif %}"><label for="{{form.rangeTriple.auto_id}}" class="control-label">Range:</label>{{ form.rangeTriple }}</div>
      <div class="control-group{% if form.gzeroTriple.errors %}error{% endif %}"><label for="{{form.gzeroTriple.auto_id}}" class="control-label"> g(0):</label>{{ form.gzeroTriple}}</div>
      <div class="control-group{% if form.wTriple.errors %}error{% endif %}"><label for="{{form.wTriple.auto_id}}" class="control-label">    w:</label>{{ form.wTriple }}</div>
      <div class="control-group{% if form.ginfTriple.errors %}error{% endif %}"><label for="{{form.ginfTriple.auto_id}}" class="control-label"> ginf:</label>{{ form.ginfTriple }}</div>
      </fieldset>
     </div> <!-- span4 -->
     </div> <!-- row -->
 </div>
 <div class="rgbimg-background">
   <div class="progress">
 <div class="bar" style="width: 75%">Progress 75%</div></div>
   <button type="button" id="start" class="btn" data-loading-text="Loading...">Next</button>
  <input class="btn" type="button" onclick="window.location='/program/'" value="Cancel"/>
  </form>
 </div>
{% endblock content-main %}
