{% extends "generic.html" %}
{% block stylesheet %}
{{ block.super }}
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/style-ics.css">
{% endblock stylesheet %}
{% block content-main %}
<div class="rgbimg-background"><img src={{ graph_path }}/></div>
<div class="rgbimg-background">
 <form method="post">{% csrf_token %}
 <div class="alert alert-info" id="notice"><strong>Note: </strong>Please select the image resolution to sample from</div>
 {{ form.resolutions.errors }}
     <fieldset>
      <legend>Select Resolution:</legend><br>
       {{ form.resolutions }}
      </fieldset>
</div>
<div class="rgbimg-background">
 <input class="btn btn-primary" type="submit" value="Next"/>
 <input class="btn" type="button" onclick="window.location='/program/'" value="Cancel"/>
 </form>
</div>
{% endblock content-main %}
